<?xml version="1.0" encoding="utf-8"?>
<settings>
    <category label="32010">
        <setting label="32000" type="text" id="url" default="http://" />
        <setting label="32001" type="text" id="token" />
    </category>
    <category label="32011">
        <setting label="32002" type="bool" id="notify" default="true" />
        <setting label="32003" type="bool" id="debug" default="false" />
        <setting label="32013" type="bool" id="bar" default="true" />
    </category>
</settings>