<?xml version="1.0" encoding="utf-8"?>
<settings>
    <category label="32000">
        <setting label="32001" type="text" id="name1" default="Digital" />
        <setting label="32003" type="text" id="name2" default="Analog" />
        <setting label="32007" type="bool" id="profile3" default="false"/>
        <setting label="32005" type="text" id="name3" default="Headphones" />
        <setting label="32033" type="bool" id="profile4" default="false"/>
        <setting label="32006" type="text" id="name4" default="HDMI" />
    </category>
    <category label="32002">
        <setting label="32004" type="bool" id="volume" default="false" />
    </category>
</settings>