<?xml version="1.0" encoding="utf-8"?>
<settings>
    <category label="TMDb">
        <setting label="40000" type="bool" id="UseTMDbPosters" default="false" />
        <setting label="40001" type="bool" id="UseTMDbFanarts" default="false" />
        <setting label="40002" type="bool" id="UseTMDbActors" default="false" />
        <setting label="40003" type="bool" id="UseTMDbSets" default="false" />
        <setting label="40004" type="bool" id="UseTMDbMPAA" default="false" />
        <setting label="40005" type="bool" id="UseTMDbStudio" default="false" />
        <setting label="40006" type="bool" id="UseTMDbWriters" default="false" />
        <setting label="40007" type="bool" id="UseTMDbTagline" default="false" />
        <setting id="language" default="pl" />
    </category>
</settings>